<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%= t('Michele & Rosa Wedding') %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Michele Fattoruso and Rosa Rueda wedding" />
	<meta name="keywords" content="Michele Fattoruso Rosa Rueda Wedding Barichara 2019 Colombia boda matrimonio" />
	<meta name="author" content="Michele Fattoruso" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />
	

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
	<link rel="shortcut icon" href="images/heart.png">

	<!-- Load the i18n translation module on the local client -->
	<!-- <script src="https://unpkg.com/i18next/i18next.js"></script>
	<script src="https://unpkg.com/i18next-xhr-backend/i18nextXHRBackend.js"></script>
	<script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.js"></script>
	<script src="js/i18next-client.js"></script> -->

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- Animate.css -->
	<link rel="stylesheet" href="css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css/bootstrap.css">

	<!-- Dinamically create the gallery -->
	<!-- <script src="js/queryGallery.js"></script> -->
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="css/owl.carousel.min.css">
	<link rel="stylesheet" href="css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="css/style.css">

	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	<!-- Sweet alert includes -->
	<script src="js/sweetalert2.min.js"></script>
	<link rel="stylesheet" href="css/sweetalert2.min.css">

	<meta name="google-site-verification" content="nFzXpIJMp_gOZTNzEh2MRRe52bLX66v6mgoFzL0vS_8" />

	</head>
	<body>

	<div class="fh5co-loader"></div>

	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2">
					<div id="fh5co-logo"><a href="/"><strong></strong></a></div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li><a href="/"><%= t('Home') %></a></li>
						<li><a href="about"><%= t('Story') %></a></li>
						<li class="active"><a href="where"><%= t('When & Where') %></a></li>
						<li><a href="gallery"><%= t('Gallery') %></a></li>
						<li><a href="contact"><%= t('Contact') %></a></li>
					</ul>
				</div>
			</div>

		</div>
    </nav>

    <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/church.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
                            <h1><%= t('When & Where') %></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
    </header>

    <div id="fh5co-couple">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                        <h2><%= t('Hello!') %></h2>
                        <h3><%= t('August 24th, 2019 Barichara, Colombia') %></h3>
                        <p><%= t('We invited you to celebrate our wedding') %></p>
                    </div>
                </div>
                <div class="couple-wrap animate-box">
                    <div class="couple-half">
                        <div class="groom">
                            <img src="images/groom.jpg" alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-groom">
                            <h3><%= t('Michele Fattoruso') %></h3>
                            <p><%= t('Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove') %></p>
                        </div>
                    </div>
                    <p class="heart text-center"><i class="icon-heart2"></i></p>
                    <div class="couple-half">
                        <div class="bride">
                            <img src="images/bride.jpg" alt="groom" class="img-responsive">
                        </div>
                        <div class="desc-bride">
                            <h3><%= t('Rosa Rueda') %></h3>
                            <p><%= t('Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove') %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    <!-- <header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/church.jpg);">
		<div class="overlay"></div>
		<div class="fh5co-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1><%= t('When & Where') %></h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header> -->

	<div id="fh5co-event" class="fh5co-bg" style="background-image:url(images/img_bg_3.jpg);">
	<!-- <div id="fh5co-event" class="fh5co-bg" > -->
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
					<span><%= t('Our Special Events') %></span>
					<h2><%= t('Wedding Events') %></h2>
				</div>
			</div>
			<div class="row">
				<div class="display-t">
					<div class="display-tc">
						<div class="col-md-10 col-md-offset-1">
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3><%= t('Main Ceremony') %></h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>4:00 PM</span>
										<span>5:00 PM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span><%= t('Saturday 24') %></span>
										<span><%= t('August, 2019') %></span>
									</div>
                                    <p><%= t('Where: Cathedral of the Immaculate Conception, Barichara’s main square.') %></p>
									<p><%= t('This cathedral is an 18th-century sandstone church with a golden-leaf altar. It is the most prominent structure in Barichara. We could have not found a more beautiful church to celebrate our wedding!') %></p>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 text-center">
								<div class="event-wrap animate-box">
									<h3><%= t('Wedding Party') %></h3>
									<div class="event-col">
										<i class="icon-clock"></i>
										<span>7:00 PM</span>
										<span>12:00 AM</span>
									</div>
									<div class="event-col">
										<i class="icon-calendar"></i>
										<span><%= t('Saturday 24') %></span>
										<span><%= t('August, 2019') %></span>
									</div>
									<p><%= t('Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.') %></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    </div>

    <div id="map" class="fh5co-map"></div>

    
	<div id="fh5co-started" class="fh5co-bg" style="background-image:url(images/img_bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2><%= t('Are You Attending?') %></h2>
					<p><%= t('Please Fill-up the form to notify you that you are attending. Thanks.') %></p>
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-10 col-md-offset-1">
					<form class="form-inline">
						<!--<form action="http://localhost:3000/addAttendant" method="post" class="form-inline">-->
						<div class="col-md-3 col-sm-3">
							<div class="form-group">
								<label for="name" class="sr-only">Name</label>
								<input type="name" class="form-control" id="name" name="name" placeholder="<%= t('Name') %>" required>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="form-group">
								<label for="participants" class="sr-only">Number</label>
								<input type="number" class="form-control" id="numberAdults" placeholder="<%= t('Number of Adults') %>" min="0" required>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="form-group">
								<label for="participants" class="sr-only">Number</label>
								<input type="number" class="form-control" id="numberChildren" placeholder="<%= t('Number of Children') %>" min="0" required>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="form-group">
								<label for="email" class="sr-only">Email</label>
								<input type="email" class="form-control" id="email" placeholder="<%= t('Email') %>" required>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" id="submitAttending" class="btn btn-default btn-block"><%= t('I am Attending') %></button>
						</div>
						<div class="col-md-6 col-sm-6">
							<button type="submit" id="submitNotAttending" class="btn btn-default btn-block"><%= t('I am not Attending') %></button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">

			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small>
						<small class="block">Developed by <a href="https://www.linkedin.com/in/michele-fattoruso/" target="_blank">Michele Fattoruso</a></small>
					</p>
					<p>
						<ul class="fh5co-social-icons">
							<li><a href="https://twitter.com/Mik_Fattoruso"><i class="icon-twitter"></i></a></li>
							<li><a href="https://www.facebook.com/michele.fattoruso"><i class="icon-facebook"></i></a></li>
							<li><a href="https://www.linkedin.com/in/michele-fattoruso/"><i class="icon-linkedin"></i></a></li>
							<!-- <li><a href="#"><i class="icon-dribbble"></i></a></li> -->
						</ul>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>


	<!-- Ajax post request to send the participation informations-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
	<script src="js/requestParticipation.js"></script>

	<!-- jQuery -->
	<!-- <script src="js/jquery.min.js"></script> -->
	<!-- Dinamically create the gallery -->
	<!-- <script src="js/queryGallery.js"></script> -->
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>


	<!-- Dinamically create the gallery -->
	<!-- <script src="js/queryGallery.js"></script> -->
	<!-- Stellar -->
	<script src="js/jquery.stellar.min.js"></script>
	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.js"></script>
    <script src="js/magnific-popup-options.js"></script>
    <!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= MAPS_API %>"></script>
	<script src="js/google_map.js"></script>

	<!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/0.0.1/prism.min.js"></script> -->
	<script src="js/simplyCountdown.js"></script>
	<!-- Main -->
	<script src="js/main.js"></script>
	
	</body>
</html>
